body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-style: italic;
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
}
h2 {
  font-size: 28px;
  margin: 0;
}
select {
  background-color: #87faa4;
  font-size: 18px;
  display: block;
  width: 660px;
  margin: 0 auto;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.container {
  width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 8px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.8;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
footer {
  font-size: 18px;
  text-align: center;
  color: rgb(0, 0, 0, 0.9);
  margin-top: 30px;
}
